@font-face {
    font-family: "Fredoka One";
    src: url("../../assets/fonts/fredokaOne/FredokaOne-Regular.ttf");
}

body {
    overflow: hidden;
}

.boas-vindas {
    text-align: center;
    margin: 2%;
    font-family: 'Fredoka One';
    font-size: 96px;
}

.azulzao {
    margin: 0;
    border-radius: 80%;
    left: -30%;
    top: -10%;
    position: absolute;
    height: 120%;
    width: 63%;
    background-color: #79BDEF;
}

.login {
    display: grid;
    justify-content: flex-end;
    margin-right: 30%;
}

#login-texto {
    font-family: "Fredoka One";
    font-size: 64px;
    color: #79BDEF;
    
}

#user {
    position: absolute;
    left: 1075px;
    top: 425px;
}

#cadeado {
    position: absolute;
    left: 1080px;
    top: 520px;
}

#esqueceu {
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
}

.campo {
    width: 200%;
    padding-left: 20%;
    height: 64px;
    border-radius: 30px;
    margin: 5%;
    font-size: 24px;
    border: none;
    background-color: #EDE7E7;
}

#botao-login {
    margin-left: 40%;
    margin-top: 20%;
    width: 262px;
    font-family: "Poppins";
    color: #EDE7E7;
    height: 64px;
    border-radius: 50px;
    background-color: #79BDEF;
    border: none;
}