@font-face {
  font-family: "Fredoka One";
  src: url("../../assets/fonts/fredokaOne/FredokaOne-Regular.ttf");
}

.container-fluid.text-center.fundo-login {
  height: 100vh;
  background-image: url("../../assets/images/login/Ellipse.png");
  background-repeat: no-repeat;
}

.naosei {
  font-size: 64px;
  color: #79bdef;
}

p.text-center.mt-4 {
  font-size: 96px;
}

.texto.cima {
  font-size: 36px;
}

.texto {
  color: #fafafa;
}

.texto.baixo {
  font-family: "Poppins";
  font-size: 24px;
}

.btn.btn-primary {
  background-color: #79bdef;
  border-color: #79bdef;
  width: 25%;
}

.btn.btn-outline-primary {
  background-image: url("../../assets/images/form/google.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 3rem;
  width: 3rem;
}

form {
  margin-left: 20%;
  margin-right: 20%;
}
