.card.dactilus {  
    font-family: "Poppins";
    width: 370px;
    height: 500px;
    border-radius: 35px;
    text-align: center;
    background-color: #79BDEF;
}

.card-numero {
    margin: auto;
    font-size: 64px;
    color: #79BDEF;
    -webkit-text-stroke: 4px #11A0F0;
}

.card-texto {
    margin: auto;
    font-size: 40px;
}

