@font-face {
    font-family: "Poppins";
    src: url("../../assets/fonts/poppins/Poppins-Regular.ttf");
}

.navbar-container {
    width: 100%;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
}

.arrow {
    margin-left: 20px;
    transform: rotate(90deg);
}

.navbar-login {
    text-align: center;
    width: 10%;
    background-color: #79bdef;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: black;
}