.aviso {
    font-family: "Poppins";
    font-size: 32px;
    margin: 5% 20% 5%;
    text-align: justify;
}

.display {
    height: 100%;
}

.exibidor-texto {
    text-align: center;
}

.exibidor-botoes {
    margin-left: 50%;
}