.output_canvas {
  transform: scaleX(-1);
}

.exibidor {
  justify-content: center;
  align-self: center;
  font-family: "Poppins";
  color: white;
  text-align: center;
  border-radius: 40px;
  width: 50%;
  height: 480px;
  background-color: #79bdef;
}

.exibidor-botoes {
  margin-top: 45px;
}

.exibidor-texto {
  max-width: 50px;
}
